@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* base styles */
body {
    font-family: "Poppins";
}

.list-group-item {
    font-size: 14px;
    border: none;
    padding: 10px;
}